.navbar-form input, .form-inline input {
  width:auto;
}

body {
  padding-top:50px;
  color:#646464;
  background-color:#80B5E9;
}

li {
  list-style: none;
}

h1,h2,h3,.highlight,.navbar a,#masthead h4 {
  font-family: 'Bitter', serif;
}


a, small, span,p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:300;
}

footer {
  margin-top:40px;
  padding-top:40px;
  padding-bottom:40px;
  background-color: #56799C;
}

h3 {
  font-size: 40px;
}

#masthead {
  min-height:199px;
  background-color:#2C3E50;
  color:#fff;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  color:#fefeff;
  margin-top:50px;
}

#masthead .well {
  background-color:transparent;
  border-color:transparent;
  color:#efefff;
  min-height:130px;
  margin-top: 15px;
}

.well .content {
  float: right;
}
.well #followers a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

#topPanel {
  padding-top:0px;
  padding-left:22px;
  padding-right:22px;
}
#topPanel .panel-body {
  padding-top:0px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.top-spacer {
  background-color:#ffffff;
  height:40px;
}

a,a:hover {
  color:#223344;
  text-decoration:none;
}

.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.navbar-bright {
  background-color:#34495E;
  color:#34495E;
  margin-bottom: 0;
  border-width: 0;
}

.navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
  color:white;
  font-size:14px;
  text-transform: uppercase;
  letter-spacing:.08em;
}

.navbar-bright li > a:hover {
  background-color:#000044;
}

.dropdown-menu {
  min-width: 250px;
}

.caret {
  color:#fff;
}

.navbar-toggle {
  color:#fff;
  border-width:0;
}

.navbar-toggle:hover {
  background-color:#fff;
}

.panel {
  border-color:transparent;
  border-radius:0;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}


@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');
    
.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}

.curriculum-img img {
  position: relative;
  top: 25px;
}

#description {
  font-size: 30px;
}
h4 {
}

.read-more {
  font-size: 20px;
}

/* 
Login/ Home Page:;
*/

.form {
  width: 300px;
  padding: 10px;
  background-color: white;
  border: 1px solid #85919C;
  border-radius:8px;

}

.form-control {
  margin-top: 5px;
}

.btn-default {
  margin-top: 4px;
}

#container {
  margin-top: 70px;
  height: 415px;
}

#blurb {
  background-color: white;
  color: #2C3E50;
  float: left;
  margin-left: 125px;
  width: 40%;
  border: 1px solid #85919C;
  border-radius:8px;
  height: 100%;
  padding: 20px;
}

#forms {
  float: right;
  margin-right: 125px;
}


#signup{
  margin-top: 5px;
}


/* 
create curriculum
*/

.single_form {
  margin: auto;
  color: #646464;
}

.single_form .btn-default {
  width: 200px;
  margin-left: 35px;
}

.col-sm-6 {
  color: white;
}

.lesson-img img {
  position: relative;
  top: 25px;
}

#description {
  font-size: 30px;
}



.row {
  overflow-y: auto;
}

#arrow-down {
  position: relative;
  top: 45px;
  left: 50%;
}
form input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hidden_content{
  display: none;
  margin-top: 40px;
}
