<!DOCTYPE html> 
<html> 
 
  <head> 
    <title>{{ session.name }} | {{ session.username }} | Lessons</title> 
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <!-- // <script src="../../test/vendor/json2.js"></script>  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="/static/css/lesson.css" media="all" rel="stylesheet" type="text/css"/> 
     <link href="/static/css/summernote.css" rel="stylesheet" type="text/css"/>

        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
         <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" type="text/css" rel="stylesheet">

    <script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js"></script>
    <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
     <script src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script> 
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
 <script src="/static/js/summernote.min.js"></script>
  <!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.7/backbone.localStorage-min.js"></script>-->
    <script src="/static/js/lesson.js"></script> 
  </head> 
 
  <body> 
   {% include 'navbar.html' %}
 
    <!-- Todo App Interface --> 
 
    <div id="lessonapp"> 

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>{{ curr_info.title }} | ({{ curr_info.subject }})</h1>
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
               <div class="content"> 
                <div id="create-lesson"> 
<!-- Button trigger modal -->
                  <button type="button" data-toggle="modal" class="btn btn-default btn-md" data-target="#myModal">
                    <span class="glyphicon glyphicon-plus"></span> Create New
                  </button>
                  <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Create New Lesson</h4>
              </div>
              <div class="modal-body">
               <form role="form" method="POST" id="create-lesson" action="">
                  <input type="text" class="form-control" name="name" id="_name" placeholder="Lesson Name" />
                  <input type="text" class="form-control" name="subtitle" id="_subtitle" placeholder="Subtitle" />
                  <input type="text" class="form-control" name="expectedDuration" placeholder="Expected Duration" id="_duration" />
                  <input type="hidden" name="parentId" value="" id="_parent"/>
                  <input type="hidden" name="lessonIndex" value="0" id="_lessonIndex"/>
                  <textarea type="text" class="form-control" name="content" placeholder="Lesson Description" id="_descript"></textarea>
                  <input type="hidden" id="_curr_id" name="curriculumId" value="{{ curr_info.curr_id }}" />
                  <input type="hidden" name="originalAuthorId" id="_original" value="{{ session.user_id}}" />
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submit-lesson">Save changes</button>
              </div>
            </div>
          </div>
        </div>


                </div> 
                <br/>
                <div id="fork-curriculum">
                  <form action="/fork/curriculum/{{curr_info.curr_id}}" method="POST">
                    <button type="submit" href="/fork/curriculum/{{curr_info.curr_id}}" class="btn btn-md btn-success" method="POST">Copy this curriculum.</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>
       
        <input type="hidden" id="currid" value="{{ curr_info.curr_id }}">
 
     
 
         <div class="container">
            <div class="row">
    
              <div class="col-md-12"> 
      
                <div class="panel">
                  <div class="panel-body">
 
         
        <div id="lesson-list"> 
          <ul id="lesson-list-item"></ul> 
        </div> 

    
 
      </div> 
 
    </div> 

            </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>


<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with love at <i class="icon-heart-empty"></i>  <a href="http://www.hackduke.com">hackDuke</a></p>      
      </div>
    </div>
  </div>
</footer>
 
    <!-- Templates --> 
 
    <script type="text/template" id="lesson-template"> 
            <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center lesson-img">
              <img src="/static/img/clipboard.svg"/>
            </div>
            <div class="col-md-10 col-sm-9 curr_item" id="<%= _id %>">
              <h3><%= name %></h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4>
                    <small class="text-muted" id="description"><%= subtitle %></small>
                  </h4>
                </div>
                <div class="col-xs-9">
                  <h4><span class="label label-default">Duration: <%= expected_duration %></span>
                    <span class="label label-default">Updated: <%= last_updated %></span></h4>
                </div>
                <div class="col-xs-3">
                 <button type="button" data-toggle="modal" id="toggle_<%= _id %>" class="btn btn-default btn-md show-hide" >
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
              </div>
              </div>
                <div class="hidden_content">
                  <div class="col-xs-9" id="edit_<%= _id %>"><pre><%= content %></pre></div>
                  <button id="edit" class="btn btn-primary" data-name="<%= _id %>" type="button">Edit</button>
                  <button id="save" class="btn btn-primary" data-name="<%= _id %>" type="button">Save</button>
                </div>
                </div>
              </div>
              <br><br>
           
            </div>
               <span class="text-center arrow-down" id="arrow-down">
                <button type="button"  class="btn btn-default btn-lg add-one" data-target="#myModal" class="text-center" id="button_<%= _id %>">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
              </span>
          </div>
          <hr>
    </script> 
 
    <script type="text/template" id="stats-template"> 
      <% if (lessons) { %>
        <span class="followers-count">
          <span class="word"><%= lessons == 1 ? 'lesson' : 'curricula' %></span>
        </span>
      <% } %>
    </script> 
 
  </body> 
 
</html>
