<!DOCTYPE html> 
<html> 
 
  <head> 
    <title>Search</title> 
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <!-- // <script src="../../test/vendor/json2.js"></script>  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" type="text/css" rel="stylesheet">
    <link href="/static/css/curriculum.css" media="all" rel="stylesheet" type="text/css"/> 
        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
         <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js"></script>
    <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
     <script src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script> 
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
  <!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.7/backbone.localStorage-min.js"></script>-->
    <script src="/static/js/curriculum.js"></script> 
  </head> 
 
  <body> 
    {% include 'navbar.html' %}
      
 
    <!-- Todo App Interface --> 
 
    <div id="curriculumapp"> 

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Search</h1>
          <p class="lead"></p>
        </h1>
      </div>
      <br/>
    </div> 
    <div>
      <form method="GET" action="/search">
        <input style="width: 500px; display: inline-block" class="form-control"  type="text" name="q" placeholder="Enter search terms here" />
        <button type="submit" class="btn btn-med btn-primary">Search</button>
      </form>
      <br/>
    </div>
  </div><!-- /cont -->  
</div>
<br/>
<input type="hidden" id="userid" value="">

  {% if results %}

    {% if results.users or results.curricula or results.lessons %}
 
      {% if results.users %}
       <div class="container">
          <div class="row">
            <div class="col-md-12"> 
              <div class="panel">
                <div class="panel-body">
                  <h3>Users</h3>
                  <div id="curriculum-list"> 
                    {% for user in results.users %}
                      <a href="/user/{{user._id}}">{{user.name}} - {{user.affiliation}}</a><br/>
                    {% endfor %}
                  </div> 
                </div> 
              </div> 
            </div>
          </div>
        </div><!--/col-12-->
        {% endif %}

        {% if results.curricula %}
        <div class="container">
          <div class="row">
            <div class="col-md-12"> 
              <div class="panel">
                <div class="panel-body">
                  <h3>Curricula</h3>
                  <div id="curriculum-list"> 
                    {% for curriculum in results.curricula %}
                      <a href="/curriculum/{{curriculum._id}}">{{curriculum.title}} - {{curriculum.subtitle}} - {{curriculum.subject}}</a><br/>
                    {% endfor %}
                  </div> 
                </div> 
              </div> 
            </div>
          </div>
        </div><!--/col-12-->
        {% endif %}

        {% if results.lessons %}
        <div class="container">
          <div class="row">
            <div class="col-md-12"> 
              <div class="panel">
                <div class="panel-body">
                  <h3>Lessons</h3>
                  <div id="curriculum-list"> 
                    {% for lesson in results.lessons %}
                      <a href="/curriculum/{{lesson._id}}">{{curriculum.name}} - {{curriculum.subtitle}}</a><br/>
                    {% endfor %}
                  </div> 
                </div> 
              </div> 
            </div>
          </div>
        </div><!--/col-12-->
        {% endif %}

      {% else %}
      <div class="container">
        <div class="row">
          <div class="col-md-12"> 
            <div class="panel">
              <div class="panel-body">
                <div id="curriculum-list"> 
                  <h3>No results found :( please try again</h3>
                </div> 
              </div> 
            </div> 
          </div>
        </div>
      </div><!--/col-12-->
      {% endif %}

    {% endif %}


  </div>
</div>
                                                
                                                                              
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with love at <i class="icon-heart-empty"></i>  <a href="http://www.hackduke.com">hackDuke</a></p>      
      </div>
    </div>
  </div>
</footer>
 
    <!-- Templates --> 
 
    <script type="text/template" id="curriculum-template"> 
            <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center curriculum-img">
              <img src="/static/img/book.svg"/>
            </div>
            <div class="col-md-10 col-sm-9 curr_item" id="<%= _id %>">
              <h3><%= title %></h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4>
                    <small class="text-muted" id="description"><%= subtitle %><br/><a href="/curriculum/<%= _id %>" class="text-muted read-more">Read More</a></small>
                  </h4>
                </div>
                <div class="col-xs-9">
                  <h4><span class="label label-default">Subject: <%= subject %></span>
                    <span class="label label-default">Updated: </span></h4>
                </div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
    </script> 
 
    <script type="text/template" id="stats-template"> 
      <% if (curriculums) { %>
        <span class="followers-count">
          <span class="word"><%= curriculums == 1 ? 'curriculum' : 'curricula' %></span>
        </span>
      <% } %>
    </script> 
 
  </body> 
 
</html>