<!DOCTYPE html> 
<html> 
 
  <head> 
    <title>Sign up for LessonHub!</title> 
   
  </head> 
 
  <body> 
 
    <form action="/create_user" method="post">
      <input type="text" name="name" placeholder="Full Name" />
      <input type="text" name="affiliation" placeholder="School or Company" />
   	  <input type="text" name="username" placeholder="username" />
      <input type="text" name="password" placeholder="password" />
      <input type="submit" />

    </form>
  
  </body> 
 
</html>
